#### Data 620 - Final Project <br>July 17, 2019<br>Team 2: <ul><li>Anthony Munoz</li> <li>Katie Evers</li> <li>Juliann McEachern</li> <li>Mia Siracusa</li></ul>

<h1 align="center">Final Project</h1>


## Project Overview

**Proposal:** Your proposal should describe at a high level what you’re seeking to accomplish, and your motivation for performing this analysis. A guiding question or hypothesis to test is one good way to start. If you are going to work in a small group (encouraged!), you should also list your partners’ names. 

You should briefly describe: 

1.  Your data sources; 
2.  Plan for doing the work
3.  Up front concerns. 
4.  Describe the roles and responsibilities of each group member. 

We’ll treat this proposal as a planning document, not a blue print containing "firm, fixed requirements." 

Your project should incorporate one or both of the two main themes of this course: network analysis and text processing. You need to show all of your work in a coherent workflow, and in a reproducible format, such as an IPython Notebook or an R Markdown document. If you are building a model or models, explain how you evaluate the “goodness” of the chosen model and parameters. 

#### Dependencies

In [1]:
import pandas as pd, numpy as np

from sodapy import Socrata
from socrata_credentials import app_token

#### Data Acquisition

We established a client connection with the Chicago API using `Socrata` to obtain our data. Results were stored in `pandas` dataframes.

In [2]:
# Establish connection variables 
domain = "data.cityofchicago.org"; req_case_summary = "mft5-nfa8"; req_complainant  = "vnz2-rmie"; req_officer = "ufxy-tgry"

# Initiate client connection
client = Socrata(domain = domain, app_token = app_token)

# Obtain results from API request
case_summary_results = client.get(req_case_summary, limit=100000)
complainant_results = client.get(req_complainant, limit=100000)
officer_results = client.get(req_officer, limit=100000)

# Close client connection
client.close()

# Store results in pandas dataframes
cs_df = pd.DataFrame.from_dict(case_summary_results)
cmpl_df = pd.DataFrame.from_dict(complainant_results)
off_df = pd.DataFrame.from_dict(officer_results)

In [10]:
print("DATAFRAME SHAPE:", "\n  By Case Summary",cs_df.shape,"\n  By Complainant",cmpl_df.shape,"\n  By Officer",off_df.shape,)

DATAFRAME SHAPE:
  By Case Summary (81491, 19)
  By Complainant (86476, 15)
  By Officer (91880, 16)

#### Preview Data 

*Preview to be removed for final project submission*

In [14]:
cs_df.head()

,age_of_complainants,age_of_involved_officers,assignment,beat,case_type,complaint_date,complaint_day,complaint_hour,complaint_month,current_category,current_status,finding_code,log_no,police_shooting,race_of_complainants,race_of_involved_officers,sex_of_complainants,sex_of_involved_officers,years_on_force_of_officers
0,NaN,NaN,BIA,NaN,NaN,2019-01-12T10:44:54.000,7,10,1,NaN,NaN,NaN,1092329,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,BIA,NaN,NaN,2019-01-12T10:24:30.000,7,10,1,NaN,NaN,NaN,1092328,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,BIA,NaN,NaN,2019-01-11T22:30:46.000,6,22,1,NaN,NaN,NaN,1092327,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,BIA,NaN,NaN,2019-01-11T15:29:31.000,6,15,1,NaN,NaN,NaN,1092326,NaN,NaN,NaN,NaN,NaN,NaN
4,40-49 | 20-29,NaN,COPA,1132,Complaint,2019-01-11T15:18:16.000,6,15,1,Excessive Force,Pending Investigation,NaN,1092325,No,African American / Black | African American / ...,NaN,Female | Male,NaN,NaN

In [15]:
cmpl_df.head()

,age_of_complainant,assignment,beat,case_type,complaint_date,complaint_day,complaint_hour,complaint_month,current_category,current_status,finding_code,log_no,police_shooting,race_of_complainant,sex_of_complainant
0,NaN,BIA,NaN,NaN,2019-01-12T10:44:54.000,7,10,1,NaN,NaN,NaN,1092329,NaN,NaN,NaN
1,NaN,BIA,NaN,NaN,2019-01-12T10:24:30.000,7,10,1,NaN,NaN,NaN,1092328,NaN,NaN,NaN
2,NaN,BIA,NaN,NaN,2019-01-11T22:30:46.000,6,22,1,NaN,NaN,NaN,1092327,NaN,NaN,NaN
3,NaN,BIA,NaN,NaN,2019-01-11T15:29:31.000,6,15,1,NaN,NaN,NaN,1092326,NaN,NaN,NaN
4,20-29,COPA,1132,Complaint,2019-01-11T15:18:16.000,6,15,1,Excessive Force,Pending Investigation,NaN,1092325,No,African American / Black,Male

In [16]:
off_df.head()

,age_of_involved_officer,assignment,beat,case_type,complaint_date,complaint_day,complaint_hour,complaint_month,current_category,current_status,finding_code,log_no,police_shooting,race_of_involved_officer,sex_of_involved_officer,years_on_force_of_involved_officer
0,NaN,BIA,NaN,NaN,2019-01-12T10:44:54.000,7,10,1,NaN,NaN,NaN,1092329,NaN,NaN,NaN,NaN
1,NaN,BIA,NaN,NaN,2019-01-12T10:24:30.000,7,10,1,NaN,NaN,NaN,1092328,NaN,NaN,NaN,NaN
2,NaN,BIA,NaN,NaN,2019-01-11T22:30:46.000,6,22,1,NaN,NaN,NaN,1092327,NaN,NaN,NaN,NaN
3,NaN,BIA,NaN,NaN,2019-01-11T15:29:31.000,6,15,1,NaN,NaN,NaN,1092326,NaN,NaN,NaN,NaN
4,NaN,COPA,1132,Complaint,2019-01-11T15:18:16.000,6,15,1,Excessive Force,Pending Investigation,NaN,1092325,No,NaN,NaN,NaN

#### Data Transformations

The log number (`log_no`) field provides a unique id of all incidences in which we can join our dataframe on.

## Network Analysis

## Text Processing